# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.LostInDreams.iml
# Datasource local storage ignored files
/../../../../../../:\GameProject\LostInDreams\.idea\.idea.LostInDreams\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
