# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.TestGame.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\unity\myFirst\TestGame\.idea\.idea.TestGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
