# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Global Scripts.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\egoru\Downloads\ProceduralPatterns2D-master\ProceduralPatterns2D-master\Assets\Global Scripts\.idea\.idea.Global Scripts.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
